@use '@styles/variables' as vars;

.daypicker {
    width: 100%;
    text-align: center;
    font-size: 12px;

    thead tr th,
    tbody tr td button {
        width: 24px;
        height: 24px;
    }

    tbody tr td button {
        cursor: pointer;
        border-radius: 9999px;
        &:hover {
            background-color: vars.$calendar-hover-bg;
        }
    }
}